# Contributing

Thanks for your interest in making this project better! Your feedback and active involvement are greatly appreciated.

The contribution guidelines for this project are simple. To add features to this repo:

1. Branch off your feature branch from `main`
2. Make and commit your suggested changes
3. Open a merge request back into `main`.

If your contribution could benefit from some additional context information or discussion, please open an issue [here]({{ repo_url }}/issues) and tag any relevant developers or maintainers.
