# {{ project_name }}

[![Tests]({{ docs_url }}/exported/tests.svg)]({{ docs_url }}/exported/pytest.html)
[![Coverage]({{ docs_url }}/exported/coverage.svg)]({{ docs_url }}/exported/coverage/)

{{ description }}

## Documentation
Refer to the full documentation [here]({{ docs_url }}/latest/getting-started/)

## Authors
{{ author }} | <{{ email }}>

## License
[MIT License](https://opensource.org/license/mit)

---
Repo generated using [PyMaxQ](https://gitlab.mgmt.ai.se/dev-tools/pymaxq) 🚀
