# API Reference

This page is generated automatically from the source code's Google-style docstrings
by [mkdocstrings](https://mkdocstrings.github.io/). Document a new module by adding a
`::: your_package.module` block below.

::: {{ package_name }}.sorting
    options:
      show_root_heading: true
      show_source: true
      docstring_style: google
